*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  width: 1140px;
  height: 534px;
  grid-template-areas: "result details";
  gap: 30px;
  align-content: end;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 711px;
  grid-area: result;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative; 
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  width: 711px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none; 
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px; 
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px; 
  width: fit-content; 
  cursor: pointer; 
}

.search-form__textfield {
  appearance: none; 
  width: 225px; 
  background: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  padding: 2.5px 0;
}

.search-form__textfield:focus {
  outline: none; 
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor; 
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  position: relative;
  display: inline-block;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background: currentColor; 
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  grid-area: details;
  width: 399px;
  height: 534px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%; 
  text-transform: uppercase;
  width: 259px;
  height: 210px;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow: hidden auto;
  align-self: end;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px; /* Для норм обводки  при фокусе*/
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block; 
  cursor: pointer; 
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline; 
}

.content__card-link:active {
  background: #545050; 
  text-decoration: none; 
}

.content__card-link:focus {
  outline: none; 
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor; 
  outline-offset: 1px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  margin-bottom: 6px; 
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px; 
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding-right: 5px; 
  min-width: 0; 
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0; 
}

.button {
  background: transparent;
  border: 1px solid currentColor;
  color: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
}

.button:focus {
  outline: none; 
}

.button:focus-visible {
  outline: 1px solid currentColor; 
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none; 
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  margin-bottom: 5px;
}

.more-button {
  width: 100%; 
  height: 34px;
  margin-top: 30px; 
}